In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from IPython.display import display

In [ ]:
df = pd.read_csv("../data/고객db_확장본3.csv")

print("✅ 파일 로드 성공!")
print(df.head())

✅ 파일 로드 성공!
   연번 이름 (Name) 생년월일 (Date of Birth) 성별 (Gender) 휴대폰번호 (Phone Number)  \
0   1       강주온           2002-03-04           남        010-6502-8753
1   2       김경수           1983-01-02           남        010-1111-2222
2   3       김다은           1999-05-02           여        010-6789-0123
3   4       김민수           1960-07-01           남        010-1234-5678
4   5       김승현           1970-03-02           남        010-0123-4567

                    이메일 (Email)           주소 (Address) 아이디 (User ID)  \
0          janisi@himedia.co.kr    인천광역시 남동구 구월동 88-10         14798
1  kimkyoungsoo31@himedia.co.kr      광주광역시 서구 치평동 14-7  kyoungsoo031
2      kimdaeun26@himedia.co.kr   부산광역시 해운대구 우동 101-12      daeun026
3       kimminsu1@himedia.co.kr      전라남도 목포시 부주동 77-8      minsu001
4  kimseunghyun20@himedia.co.kr  경기도 수원시 영통구 원천동 12-34  seunghyun020

  가입일 (Registration Date) 고객 세그먼트 (Customer Segment) 차량구분(vehicle types)  \
0              2023-04-01                         일반              준중형 세단
1              2025-02-09                        vip              준대형 세단
2              2025-02-28                         신규              중형 suv
3              2023-04-28                         일반              중형 suv
4              2023-09-18                       이탈가능               중형 세단

  구매한 제품 (Purchased Product) 제품 구매 날짜 (Purchase Date)  \
0             Avante (CN7 N)               2024-04-04
1                  G80 (RG3)               2025-02-10
2                  NEXO (FE)               2025-03-10
3                 Santa-Fe ™               2023-05-01
4                   G70 (IK)               2023-10-01

  거래 금액 (Transaction Amount) 거래 방식 (Transaction Method)  \
0                 35,170,000                       신용카드
1                 85,790,000                       신용카드
2                 69,500,000                       계좌이체
3                 34,920,000                         현금
4                 50,230,000                       신용카드

   제품 구매 빈도 (Purchase Frequency) 제품 구매 경로 (Purchase Path)
0                              1                     오프라인
1                              5                     오프라인
2                              1                     오프라인
3                              1                     오프라인
4                              1                     오프라인

In [4]:
df

,연번,이름 (Name),생년월일 (Date of Birth),성별 (Gender),휴대폰번호 (Phone Number),이메일 (Email),주소 (Address),아이디 (User ID),가입일 (Registration Date),고객 세그먼트 (Customer Segment),차량구분(vehicle types),구매한 제품 (Purchased Product),제품 구매 날짜 (Purchase Date),거래 금액 (Transaction Amount),거래 방식 (Transaction Method),제품 구매 빈도 (Purchase Frequency),제품 구매 경로 (Purchase Path)
0,1,강주온,2002-03-04,남,010-6502-8753,janisi@himedia.co.kr,인천광역시 남동구 구월동 88-10,14798,2023-04-01,일반,준중형 세단,Avante (CN7 N),2024-04-04,"35,170,000",신용카드,1,오프라인
1,2,김경수,1983-01-02,남,010-1111-2222,kimkyoungsoo31@himedia.co.kr,광주광역시 서구 치평동 14-7,kyoungsoo031,2025-02-09,vip,준대형 세단,G80 (RG3),2025-02-10,"85,790,000",신용카드,5,오프라인
2,3,김다은,1999-05-02,여,010-6789-0123,kimdaeun26@himedia.co.kr,부산광역시 해운대구 우동 101-12,daeun026,2025-02-28,신규,중형 suv,NEXO (FE),2025-03-10,"69,500,000",계좌이체,1,오프라인
3,4,김민수,1960-07-01,남,010-1234-5678,kimminsu1@himedia.co.kr,전라남도 목포시 부주동 77-8,minsu001,2023-04-28,일반,중형 suv,Santa-Fe ™,2023-05-01,"34,920,000",현금,1,오프라인
4,5,김승현,1970-03-02,남,010-0123-4567,kimseunghyun20@himedia.co.kr,경기도 수원시 영통구 원천동 12-34,seunghyun020,2023-09-18,이탈가능,중형 세단,G70 (IK),2023-10-01,"50,230,000",신용카드,1,오프라인
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,288,신시우,1958-07-11,여,042-207-6955,gyeonghyi78@gmail.com,전라북도 전주시 완산구 덕진동 33-7,jihungim,2023-03-06,신규,준중형 세단,G80 (RG3),2024-12-20,"86,770,000",신용카드,2,온라인
288,289,최춘자,1976-06-27,여,031-170-7739,hancunja@yu.kr,충청남도 천안시 동남구 성성동 22-3,jinho50,2024-08-26,신규,준대형 세단,Avante (CN7 N),2023-08-24,"69,510,000",현금,3,오프라인
289,290,차서준,1968-01-22,여,064-741-3740,qgim@simryujo.com,경상남도 창원시 의창구 봉곡동 48-6,jihun41,2023-01-02,vip,준대형 세단,NEXO (FE),2024-01-12,"39,890,000",계좌이체,2,온라인
290,291,안정희,1984-01-10,남,051-406-1803,donghyeonbae@joyunson.com,대구광역시 수성구 범어동 55-3,yeongil47,2023-04-08,신규,소형 해치백,G80 (RG3),2024-01-30,"44,530,000",현금,2,온라인
291,292,최민수,1960-06-24,여,041-028-3477,ihyejin@jusighoesa.kr,전라남도 목포시 부주동 77-8,gyeongsugson,2022-11-08,vip,대형 suv,G80 (RG3),2024-06-28,"43,950,000",현금,5,오프라인

In [5]:
# 결측값 개수 확인
print(df.isnull().sum())

연번                               0
이름 (Name)                        0
생년월일 (Date of Birth)             0
성별 (Gender)                      0
휴대폰번호 (Phone Number)             0
이메일 (Email)                      0
주소 (Address)                     0
아이디 (User ID)                    0
가입일 (Registration Date)          0
고객 세그먼트 (Customer Segment)       0
차량구분(vehicle types)              0
구매한 제품 (Purchased Product)       0
제품 구매 날짜 (Purchase Date)         0
거래 금액 (Transaction Amount)       0
거래 방식 (Transaction Method)       0
제품 구매 빈도 (Purchase Frequency)    0
제품 구매 경로 (Purchase Path)         0
dtype: int64

In [6]:
df = df.rename(columns={
    "이름 (Name)": "이름",
    "생년월일 (Date of Birth)": "생년월일",
    "성별 (Gender)": "성별",
    "이메일 (Email)": "이메일",
    "휴대폰번호 (Phone Number)": "휴대폰번호",
    "주소 (Address)": "주소",
    "아이디 (User ID)": "아이디",
    "가입일 (Registration Date)": "가입일",
    "고객 세그먼트 (Customer Segment)": "등급",
    "차량구분(vehicle types)": "차 종",
    "구매한 제품 (Purchased Product)": "구매한 제품",
    "제품 구매 날짜 (Purchase Date)": "구매 날짜",
    "거래 금액 (Transaction Amount)": "금액",
    "거래 방식 (Transaction Method)": "거래 방식",
    "제품 구매 빈도 (Purchase Frequency)": "구매 횟수",
    "제품 구매 경로 (Purchase Path)": "구매 경로"
})

In [7]:
# 현재 연도 기준으로 나이 계산
df["나이"] = df["생년월일"].apply(lambda x: datetime.now().year - int(x.split("-")[0]))

In [8]:
# 연령대를 범주형 변수로 변환
bins = [0, 25, 35, 50, 65, 100]
labels = ["20대 이하", "26~35세", "36~50세", "51~65세", "66세 이상"]
df["연령대"] = pd.cut(df["나이"], bins=bins, labels=labels)

In [9]:
print(df[["생년월일", "나이", "연령대"]].head())

         생년월일  나이     연령대
0  2002-03-04  23  20대 이하
1  1983-01-02  42  36~50세
2  1999-05-02  26  26~35세
3  1960-07-01  65  51~65세
4  1970-03-02  55  51~65세

In [10]:
# 계절 구분 (봄: 3~5월, 여름: 6~8월, 가을: 9~11월, 겨울: 12~2월)
def get_season(date):
    month = int(date.split("-")[1])
    if month in [3, 4, 5]:
        return "봄"
    elif month in [6, 7, 8]:
        return "여름"
    elif month in [9, 10, 11]:
        return "가을"
    else:
        return "겨울"

df["구매 시즌"] = df["구매 날짜"].apply(get_season)

print(df[["구매 날짜", "구매 시즌"]].head())

        구매 날짜 구매 시즌
0  2024-04-04     봄
1  2025-02-10    겨울
2  2025-03-10     봄
3  2023-05-01     봄
4  2023-10-01    가을

In [11]:
# 고객 등급을 점수로 변환 (VIP: 3, 일반: 2, 신규: 1, 이탈가능: 0)
grade_mapping = {"vip": 3, "일반": 2, "신규": 1, "이탈가능": 0}
df["고객 등급 점수"] = df["등급"].map(grade_mapping)

In [12]:
df.head()

,연번,이름,생년월일,성별,휴대폰번호,이메일,주소,아이디,가입일,등급,...,구매한 제품,구매 날짜,금액,거래 방식,구매 횟수,구매 경로,나이,연령대,구매 시즌,고객 등급 점수
0,1,강주온,2002-03-04,남,010-6502-8753,janisi@himedia.co.kr,인천광역시 남동구 구월동 88-10,14798,2023-04-01,일반,...,Avante (CN7 N),2024-04-04,"35,170,000",신용카드,1,오프라인,23,20대 이하,봄,2
1,2,김경수,1983-01-02,남,010-1111-2222,kimkyoungsoo31@himedia.co.kr,광주광역시 서구 치평동 14-7,kyoungsoo031,2025-02-09,vip,...,G80 (RG3),2025-02-10,"85,790,000",신용카드,5,오프라인,42,36~50세,겨울,3
2,3,김다은,1999-05-02,여,010-6789-0123,kimdaeun26@himedia.co.kr,부산광역시 해운대구 우동 101-12,daeun026,2025-02-28,신규,...,NEXO (FE),2025-03-10,"69,500,000",계좌이체,1,오프라인,26,26~35세,봄,1
3,4,김민수,1960-07-01,남,010-1234-5678,kimminsu1@himedia.co.kr,전라남도 목포시 부주동 77-8,minsu001,2023-04-28,일반,...,Santa-Fe ™,2023-05-01,"34,920,000",현금,1,오프라인,65,51~65세,봄,2
4,5,김승현,1970-03-02,남,010-0123-4567,kimseunghyun20@himedia.co.kr,경기도 수원시 영통구 원천동 12-34,seunghyun020,2023-09-18,이탈가능,...,G70 (IK),2023-10-01,"50,230,000",신용카드,1,오프라인,55,51~65세,가을,0

In [13]:
def get_brand(model):
    if "Avante" in model or "Santa-Fe" in model or "Grandeur" in model:
        return "현대"
    elif "G70" in model or "G80" in model or "G90" in model:
        return "제네시스"
    elif "Tucson" in model or "NEXO" in model:
        return "기아"
    else:
        return "기타"

df["브랜드"] = df["구매한 제품"].apply(get_brand)

In [14]:
print(df[["구매한 제품", "브랜드"]].head())

           구매한 제품   브랜드
0  Avante (CN7 N)    현대
1       G80 (RG3)  제네시스
2       NEXO (FE)    기아
3      Santa-Fe ™    현대
4        G70 (IK)  제네시스

In [15]:
segment_mapping = {
    "준중형 세단": "소형",
    "중형 세단": "중형",
    "준대형 세단": "중형",
    "대형 세단": "대형",
    "중형 suv": "SUV",
    "준중형 suv": "SUV",
    "대형 suv": "SUV",
    "픽업트럭": "트럭",
    "소형 해치백": "소형"
}
df["차급"] = df["차 종"].map(segment_mapping)

In [16]:
print(df[["차 종", "차급"]].head())

       차 종   차급
0   준중형 세단   소형
1   준대형 세단   중형
2   중형 suv  SUV
3   중형 suv  NaN
4    중형 세단   중형

In [17]:
# 최근 1년 내 구매한 고객인지 여부 (True/False)
df["최근 구매 고객"] = df["구매 날짜"].apply(lambda x: int(x.split("-")[0]) >= 2023)

In [18]:
print(df[["구매 날짜", "최근 구매 고객"]].head())

        구매 날짜  최근 구매 고객
0  2024-04-04      True
1  2025-02-10      True
2  2025-03-10      True
3  2023-05-01      True
4  2023-10-01      True

In [19]:
# 누적 구매 금액
df["금액"] = df["금액"].str.replace(",", "").astype(int)
df["누적 구매 금액"] = df.groupby("주소")["금액"].cumsum()

# 평균 구매 금액
df["평균 구매 금액"] = df.groupby("주소")["금액"].transform("mean")

In [20]:
print(df[["주소", "금액", "누적 구매 금액", "평균 구매 금액"]].head())

                      주소        금액  누적 구매 금액      평균 구매 금액
0    인천광역시 남동구 구월동 88-10  35170000  35170000  5.802529e+07
1      광주광역시 서구 치평동 14-7  85790000  85790000  6.050667e+07
2   부산광역시 해운대구 우동 101-12  69500000  69500000  5.639952e+07
3      전라남도 목포시 부주동 77-8  34920000  34920000  6.014846e+07
4  경기도 수원시 영통구 원천동 12-34  50230000  50230000  6.106615e+07

In [21]:
grade_mapping = {"vip": 3, "일반": 2, "신규": 1, "이탈가능": 0}
df["고객 등급 점수"] = df["등급"].map(grade_mapping)

In [22]:
df["구매 경로"] = df["구매 경로"].map({"온라인": 1, "오프라인": 0})
df["거래 방식"] = df["거래 방식"].map({"신용카드": 1, "계좌이체": 2, "현금": 3})

In [23]:
df["누적 구매 금액"] = df.groupby("주소")["금액"].cumsum()
df["평균 구매 금액"] = df.groupby("주소")["금액"].transform("mean")

In [24]:

df.head()

,연번,이름,생년월일,성별,휴대폰번호,이메일,주소,아이디,가입일,등급,...,구매 경로,나이,연령대,구매 시즌,고객 등급 점수,브랜드,차급,최근 구매 고객,누적 구매 금액,평균 구매 금액
0,1,강주온,2002-03-04,남,010-6502-8753,janisi@himedia.co.kr,인천광역시 남동구 구월동 88-10,14798,2023-04-01,일반,...,0,23,20대 이하,봄,2,현대,소형,True,35170000,5.802529e+07
1,2,김경수,1983-01-02,남,010-1111-2222,kimkyoungsoo31@himedia.co.kr,광주광역시 서구 치평동 14-7,kyoungsoo031,2025-02-09,vip,...,0,42,36~50세,겨울,3,제네시스,중형,True,85790000,6.050667e+07
2,3,김다은,1999-05-02,여,010-6789-0123,kimdaeun26@himedia.co.kr,부산광역시 해운대구 우동 101-12,daeun026,2025-02-28,신규,...,0,26,26~35세,봄,1,기아,SUV,True,69500000,5.639952e+07
3,4,김민수,1960-07-01,남,010-1234-5678,kimminsu1@himedia.co.kr,전라남도 목포시 부주동 77-8,minsu001,2023-04-28,일반,...,0,65,51~65세,봄,2,현대,NaN,True,34920000,6.014846e+07
4,5,김승현,1970-03-02,남,010-0123-4567,kimseunghyun20@himedia.co.kr,경기도 수원시 영통구 원천동 12-34,seunghyun020,2023-09-18,이탈가능,...,0,55,51~65세,가을,0,제네시스,중형,True,50230000,6.106615e+07

In [25]:
#  "구매 요일" 추가 (구매 날짜 기반)
df["구매 요일"] = pd.to_datetime(df["구매 날짜"]).dt.day_name()

In [26]:
#  "지역 카테고리" (주소에서 시/도를 기반으로 지역 그룹화)
df["지역 카테고리"] = df["주소"].apply(lambda x: x.split()[0] if pd.notna(x) else "기타")

In [27]:
#  "고객 충성도 지수" (구매 횟수 및 누적 구매 금액을 기반으로 단순 지수화)
df["고객 충성도 지수"] = df["구매 횟수"] * df["누적 구매 금액"] / df["누적 구매 금액"].max()

In [28]:
df.columns.nunique()

29

In [29]:
df.columns

Index(['연번', '이름', '생년월일', '성별', '휴대폰번호', '이메일', '주소', '아이디', '가입일', '등급',
       '차 종', '구매한 제품', '구매 날짜', '금액', '거래 방식', '구매 횟수', '구매 경로', '나이', '연령대',
       '구매 시즌', '고객 등급 점수', '브랜드', '차급', '최근 구매 고객', '누적 구매 금액', '평균 구매 금액',
       '구매 요일', '지역 카테고리', '고객 충성도 지수'],
      dtype='object')

In [30]:
df.to_csv("/Users/mi-yeonlim/Documents/Github/p404-sales/updated_customer_data.csv", encoding="utf-8", index=False)

OSError: Cannot save file into a non-existent directory: '/Users/mi-yeonlim/Documents/Github/p404-sales'

In [ ]:
df

,연번,이름,생년월일,성별,휴대폰번호,이메일,주소,아이디,가입일,등급,...,구매 시즌,고객 등급 점수,브랜드,차급,최근 구매 고객,누적 구매 금액,평균 구매 금액,구매 요일,지역 카테고리,고객 충성도 지수
0,1,강주온,2002-03-04,남,010-6502-8753,janisi@himedia.co.kr,인천광역시 남동구 구월동 88-10,14798,2023-04-01,일반,...,봄,2,현대,소형,True,35170000,5.802529e+07,Thursday,인천광역시,0.022151
1,2,김경수,1983-01-02,남,010-1111-2222,kimkyoungsoo31@himedia.co.kr,광주광역시 서구 치평동 14-7,kyoungsoo031,2025-02-09,vip,...,겨울,3,제네시스,중형,True,85790000,6.050667e+07,Monday,광주광역시,0.270167
2,3,김다은,1999-05-02,여,010-6789-0123,kimdaeun26@himedia.co.kr,부산광역시 해운대구 우동 101-12,daeun026,2025-02-28,신규,...,봄,1,기아,SUV,True,69500000,5.639952e+07,Monday,부산광역시,0.043773
3,4,김민수,1960-07-01,남,010-1234-5678,kimminsu1@himedia.co.kr,전라남도 목포시 부주동 77-8,minsu001,2023-04-28,일반,...,봄,2,현대,NaN,True,34920000,6.014846e+07,Monday,전라남도,0.021994
4,5,김승현,1970-03-02,남,010-0123-4567,kimseunghyun20@himedia.co.kr,경기도 수원시 영통구 원천동 12-34,seunghyun020,2023-09-18,이탈가능,...,가을,0,제네시스,중형,True,50230000,6.106615e+07,Sunday,경기도,0.031637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,288,신시우,1958-07-11,여,042-207-6955,gyeonghyi78@gmail.com,전라북도 전주시 완산구 덕진동 33-7,jihungim,2023-03-06,신규,...,겨울,1,제네시스,소형,True,843160000,6.022571e+07,Friday,전라북도,1.062102
288,289,최춘자,1976-06-27,여,031-170-7739,hancunja@yu.kr,충청남도 천안시 동남구 성성동 22-3,jinho50,2024-08-26,신규,...,여름,1,현대,중형,True,683070000,4.879071e+07,Thursday,충청남도,1.290662
289,290,차서준,1968-01-22,여,064-741-3740,qgim@simryujo.com,경상남도 창원시 의창구 봉곡동 48-6,jihun41,2023-01-02,vip,...,겨울,3,기아,중형,True,763130000,5.870231e+07,Friday,경상남도,0.961290
290,291,안정희,1984-01-10,남,051-406-1803,donghyeonbae@joyunson.com,대구광역시 수성구 범어동 55-3,yeongil47,2023-04-08,신규,...,겨울,1,제네시스,소형,True,1057130000,5.872944e+07,Tuesday,대구광역시,1.331633
291,292,최민수,1960-06-24,여,041-028-3477,ihyejin@jusighoesa.kr,전라남도 목포시 부주동 77-8,gyeongsugson,2022-11-08,vip,...,여름,3,제네시스,SUV,True,781930000,6.014846e+07,Friday,전라남도,2.462430

In [ ]:
# 구매 날짜 변환
df["구매 날짜"] = pd.to_datetime(df["구매 날짜"], errors="coerce")

In [ ]:
# 할부 여부 (구매 금액 기준으로 설정, 4000만원 이상이면 할부 확률 높음)
df["할부 여부"] = df["금액"].apply(lambda x: 1 if x >= 40000000 else 0)

In [ ]:
# 마지막 구매 이후 기간 (월 기준)
df["마지막 구매 이후 기간"] = (datetime.now() - df["구매 날짜"]).dt.days / 30

In [ ]:
# 구매 주기 (각 고객별 구매 간격 계산)
df["구매 주기"] = df.groupby("주소")["구매 날짜"].diff().dt.days / 30

In [ ]:
# 구매 요일 카테고리 (주말 / 평일 구분)
df["구매 요일"] = df["구매 날짜"].dt.dayofweek  # 0(월) ~ 6(일)
df["구매 요일 카테고리"] = df["구매 요일"].apply(lambda x: "주말" if x >= 5 else "평일")

고객 평생 가치(Lifetime Value, LTV)는 한 고객이 기업과의 관계에서 얼마나 많은 가치를 창출하는지를 평가하는 지표입니다.
즉, "고객이 평생 동안 얼마를 소비할 것인가?" 를 예측하는 데 사용됩니다.

💡 공식 (LTV 계산)

고객 평생 가치 (LTV)
=
누적 구매 금액
×
고객 충성도 지수
고객 평생 가치 (LTV)=누적 구매 금액×고객 충성도 지수

In [31]:
# 고객 평생 가치(LTV) = 누적 구매 금액 × 고객 충성도
df["고객 평생 가치"] = df["누적 구매 금액"] * df["고객 충성도 지수"]

In [ ]:
df.columns.nunique()

34

In [33]:
df.columns

Index(['연번', '이름', '생년월일', '성별', '휴대폰번호', '이메일', '주소', '아이디', '가입일', '등급',
       '차 종', '구매한 제품', '구매 날짜', '금액', '거래 방식', '구매 횟수', '구매 경로', '나이', '연령대',
       '구매 시즌', '고객 등급 점수', '브랜드', '차급', '최근 구매 고객', '누적 구매 금액', '평균 구매 금액',
       '구매 요일', '지역 카테고리', '고객 충성도 지수', '고객 평생 가치'],
      dtype='object')

In [34]:
df

,연번,이름,생년월일,성별,휴대폰번호,이메일,주소,아이디,가입일,등급,...,고객 등급 점수,브랜드,차급,최근 구매 고객,누적 구매 금액,평균 구매 금액,구매 요일,지역 카테고리,고객 충성도 지수,고객 평생 가치
0,1,강주온,2002-03-04,남,010-6502-8753,janisi@himedia.co.kr,인천광역시 남동구 구월동 88-10,14798,2023-04-01,일반,...,2,현대,소형,True,35170000,5.802529e+07,Thursday,인천광역시,0.022151,7.790598e+05
1,2,김경수,1983-01-02,남,010-1111-2222,kimkyoungsoo31@himedia.co.kr,광주광역시 서구 치평동 14-7,kyoungsoo031,2025-02-09,vip,...,3,제네시스,중형,True,85790000,6.050667e+07,Monday,광주광역시,0.270167,2.317765e+07
2,3,김다은,1999-05-02,여,010-6789-0123,kimdaeun26@himedia.co.kr,부산광역시 해운대구 우동 101-12,daeun026,2025-02-28,신규,...,1,기아,SUV,True,69500000,5.639952e+07,Monday,부산광역시,0.043773,3.042256e+06
3,4,김민수,1960-07-01,남,010-1234-5678,kimminsu1@himedia.co.kr,전라남도 목포시 부주동 77-8,minsu001,2023-04-28,일반,...,2,현대,NaN,True,34920000,6.014846e+07,Monday,전라남도,0.021994,7.680236e+05
4,5,김승현,1970-03-02,남,010-0123-4567,kimseunghyun20@himedia.co.kr,경기도 수원시 영통구 원천동 12-34,seunghyun020,2023-09-18,이탈가능,...,0,제네시스,중형,True,50230000,6.106615e+07,Sunday,경기도,0.031637,1.589104e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,288,신시우,1958-07-11,여,042-207-6955,gyeonghyi78@gmail.com,전라북도 전주시 완산구 덕진동 33-7,jihungim,2023-03-06,신규,...,1,제네시스,소형,True,843160000,6.022571e+07,Friday,전라북도,1.062102,8.955216e+08
288,289,최춘자,1976-06-27,여,031-170-7739,hancunja@yu.kr,충청남도 천안시 동남구 성성동 22-3,jinho50,2024-08-26,신규,...,1,현대,중형,True,683070000,4.879071e+07,Thursday,충청남도,1.290662,8.816125e+08
289,290,차서준,1968-01-22,여,064-741-3740,qgim@simryujo.com,경상남도 창원시 의창구 봉곡동 48-6,jihun41,2023-01-02,vip,...,3,기아,중형,True,763130000,5.870231e+07,Friday,경상남도,0.961290,7.335895e+08
290,291,안정희,1984-01-10,남,051-406-1803,donghyeonbae@joyunson.com,대구광역시 수성구 범어동 55-3,yeongil47,2023-04-08,신규,...,1,제네시스,소형,True,1057130000,5.872944e+07,Tuesday,대구광역시,1.331633,1.407709e+09
291,292,최민수,1960-06-24,여,041-028-3477,ihyejin@jusighoesa.kr,전라남도 목포시 부주동 77-8,gyeongsugson,2022-11-08,vip,...,3,제네시스,SUV,True,781930000,6.014846e+07,Friday,전라남도,2.462430,1.925448e+09